@import '../../Style/Util/pallet';
@import '../../Style/Util/util_mixins';

.skill-section {
  position: relative;
  height: 100vh;

  &:hover {
    .list {
      a {
        will-change: transform, opacity;
      }
    }
  }

  .skill-frame {
    @include vertical-align;

    h1 {
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
    }

    .list-frame {
      transform-style: preserve-3d;
      perspective: 80rem;

      .list {
        a {
          display: block;
          padding-top: 3rem;
          padding-bottom: 3rem;
          text-align: right;
          @include f-b(10rem);
          -webkit-text-stroke: 0.1rem $bl;
          transform: translate3d(0, 0, 0) rotateY(-30deg);
          transform-origin: right center;
          transition: transform $transition, color $transition;
        }

        &:hover {
          a {
            color: transparent;
            transform: translate3d(0, 0, 0) rotateY(-15deg);
          }
        }
      }
    }
  }
}
