@import '../../Style/Util/pallet';
@import '../../Style/Util/util_mixins';

.main {
  height: 130vh;
  overflow: hidden;
  @media (min-width: $bp-l-min) {
    height: 245vh;
  }

  .main-background1,
  .main-background2 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 245vh;

    .background {
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: center / cover url(#{$img-url}main1920.jpg);
    }
  }

  .background-frame {
    clip: rect(0, auto, auto, 0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .canvas-frame {
    @include horizontal-align;
    display: inline-block;
    z-index: -1;
    overflow: hidden;
    will-change: transform;

    &.target1 {
      width: 60%;
      top: 5%;
      margin-left: -5%;
      @media (max-width: $bp-l) {
        width: 65%;
        top: 4%;
        margin-left: -6%;
      }
      @media (max-width: $bp-s) {
        width: 70%;
        top: 3%;
        margin-left: -7%;
      }
      @media (min-width: $bp-w-min) {
        width: 55%;
      }
      @media (min-width: $bp-fw-min) {
        width: 50%;
      }
    }
    &.target2 {
      width: 40%;
      top: 14%;
      margin-left: -30%;
      @media (max-width: $bp-l) {
        width: 45%;
        top: 9%;
        margin-left: -32%;
      }
      @media (max-width: $bp-s) {
        width: 55%;
        top: 6%;
        margin-left: -34%;
      }
      @media (min-width: $bp-w-min) {
        width: 35%;
      }
      @media (min-width: $bp-fw-min) {
        width: 30%;
      }
    }
    &.target3 {
      width: 30%;
      top: 18%;
      margin-left: 18%;
      @media (max-width: $bp-l) {
        width: 35%;
        top: 12%;
        margin-left: 20%;
      }
      @media (max-width: $bp-s) {
        width: 40%;
        top: 9%;
        margin-left: 22%;
      }
      @media (min-width: $bp-w-min) {
        width: 25%;
      }
      @media (min-width: $bp-fw-min) {
        width: 20%;
      }
    }
    &.target4 {
      width: 40%;
      top: 12%;
      margin-left: 33%;
      @media (max-width: $bp-l) {
        width: 45%;
        top: 9%;
        margin-left: 36%;
      }
      @media (max-width: $bp-s) {
        width: 50%;
        top: 6%;
        margin-left: 39%;
      }
      @media (min-width: $bp-w-min) {
        width: 35%;
      }
      @media (min-width: $bp-fw-min) {
        width: 30%;
      }
    }
    &.target5 {
      width: 45%;
      top: 25%;
      margin-left: -20%;
      @media (max-width: $bp-l) {
        width: 50%;
        top: 21%;
        margin-left: -23%;
      }
      @media (max-width: $bp-s) {
        width: 55%;
        top: 18%;
        margin-left: -26%;
      }
      @media (min-width: $bp-w-min) {
        width: 40%;
      }
      @media (min-width: $bp-fw-min) {
        width: 35%;
      }
    }
    &.target6 {
      width: 20%;
      top: 31%;
      @media (max-width: $bp-l) {
        width: 25%;
        top: 24%;
      }
      @media (max-width: $bp-s) {
        width: 30%;
        top: 21%;
      }
    }

    canvas {
      width: 100%;
      height: 100%;
    }
  }

  .main-text-frame {
    position: absolute;
    height: 100vh;
    z-index: 2;

    .main-text {
      display: inline-block;
      @include vertical-align(relative);

      span {
        display: block;
        margin-bottom: 2rem;
        @include f-b(9rem, $wh);
      }

      p {
        @include f-m(3.7rem, $wh);
      }
    }
  }

  .into-ment-frame {
    position: relative;
    height: 130vh;
    @media (min-width: $bp-l-min) {
      height: 200vh;
    }
    .intro-ment {
      position: absolute;
      bottom: 15rem;
      padding-top: 15rem;
      padding-bottom: 15rem;

      .type-p {
        @include f-b(10rem, $wh);
        text-transform: uppercase;
        .split-depth-frame,
        .split-target {
          min-width: 2rem;
        }
      }
    }
  }
}
