@import '../../Style/Util/util_mixins';

.text-slider-frame {
  position: fixed;
  top: -10%;
  height: 200vh;

  .text-slider {
    position: relative;
    width: 100%;
    height: 5%;

    .text-content-frame {
      position: absolute;
      height: 100%;
      text-align: center;
      opacity: 0.3;
      will-change: transform;

      .content {
        @include center-align;
        font-family: 'Syncopate' !important;
        @include f-b(5rem, transparent);
        -webkit-text-stroke: 0.1rem #222;
        transition: color $transition-slow;
      }
    }
  }

  &.left {
    width: 41.66666667%;
    overflow: hidden;

    .rotate-frame {
      width: 100%;
      height: 100%;
      transform: rotate(36.3deg);

      .text-slider {
        left: -71.3rem;
        min-width: 160rem;

        .text-content-frame {
          width: 22%;
        }

        &.second-line {
          left: -88.9rem;

          .content {
            @include f-b(5rem, #999);
            -webkit-text-stroke: 0.1rem #999;
          }
        }
      }
    }
  }

  &.right {
    width: 50%;
    margin-left: 50%;
    overflow: hidden;

    .rotate-frame {
      width: 100%;
      height: 100%;
      transform: rotate(-36.3deg);

      .text-slider {
        left: -130rem;
        min-width: 260rem;

        .text-content-frame {
          width: 40%;
        }

        &.second-line {
          left: -175.1rem;

          .content {
            @include f-b(5rem, #999);
            -webkit-text-stroke: 0.1rem #999;
          }
        }
      }
    }
  }
}
