{
  "presets": [
    "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./components",
          "@compositions": "./compositions",
          "@static": "./static",
          "@style": "./style",
          "@modules": "./modules",
          "@utils": "./utils"
        }
      }
    ]
  ]
}