{
  "presets": [
    "@babel/env",
    "@babel/react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@components": "./src/components",
          "@compositions": "./src/compositions",
          "@static": "./src/static",
          "@style": "./src/style",
          "@modules": "./src/modules",
          "@utils": "./src/utils",
        }
      }
    ]
  ]
}