@import '../../Style/Util/pallet';
@import '../../Style/Util/util_mixins';

.about-section {
  .about-frame {
    position: relative;
    padding-top: 20rem;
    padding-bottom: 20rem;

    .title-frame {
      margin: 0 auto;
      text-align: center;

      .about-title {
        position: relative;
        z-index: 1;
        transform: translateY(50%);
        font-family: Syncopate;
        @include f-b(18rem, $bl);
      }

      .picture-frame {
        position: relative;

        img {
          width: 100%;
          vertical-align: bottom;
        }

        .one, .two,
        .three {
          position: relative;
          overflow: hidden;

          &:before, &:after {
            content: '';
            position: absolute;
            left: 0;
            z-index: 1;
            width: 100%;
            height: 100%;
            transition: transform $transition-slow;
          }

          &:hover {
            &:before, &:after {
              transform: translateX(0)
            }
          }
        }

        .one,
        .three {
          @include vertical-align(relative);
        }

        .one {
          &:before, &:after {
            background: center / cover url(#{$img-url}about-one-opacity.png);
          }
          &:before {
            transform: translateX(-16%);
          }
          
          &:after {
            transform: translateX(13%);
          }
        }

        .two {
          &:before, &:after {
            background: center / cover url(#{$img-url}about-two-opacity.png);
          }
          &:before {
            transform: translateX(-15%);
          }

          &:after {
            transform: translateX(15%);
          }
        }

        .three {
          &:before, &:after {
            background: center / cover url(#{$img-url}about-three-opacity.png);
          }
          &:before {
            transform: translateX(-13%);
          }

          &:after {
            transform: translateX(16%);
          }
        }
      }
    }

    .about-contents {
      padding-top: 15rem;

      .keyword-frame {
        position: relative;
        padding-top: 4rem;
        padding-bottom: 4rem;

        h2 {
          color: $bl;
          white-space: nowrap;
        }

        .type-p {
          margin-top: 4rem;
          margin-bottom: 4rem;
          @include f-l(2rem, $bl);
        }

        .back-keyword {
          @include vertical-align;
          z-index: -1;
          span {
            font-family: 'Syncopate';
            @include f-b(14rem, #F6F6F6);
          }

          &.left {
            right: 0;
          }
          &.right {
            left: 0;
          }
        }
      }
    }
  }
}
