@charset 'utf-8';

$bp-xs: 320px;
$bp-xs-min: 321px;
$bp-s: 576px;
$bp-s-min: 577px;
$bp-m: 768px;
$bp-m-min: 769px;
$bp-l: 984px;
$bp-l-min: 985px;
$bp-xl: 1200px;
$bp-xl-min: 1201px;
$bp-w: 1596px;
$bp-w-min: 1597px;
$bp-fw: 1920px;
$bp-fw-min: 1921px;