@import '../../Style/Util/util_mixins';

.right-area {
  position: relative;
  display: inline-flex;

  .gnb-button {
    position: relative;
    top: 3rem;

    &.delay {
      pointer-events: none;
    }

    .menu-img {
      &.invert {
        path {
          fill: #f9f9f9;
        }
      }
      animation: rotate 25s linear infinite;
    }
  }
}