@import '../../Style/Util/pallet';
@import '../../Style/Util/util_mixins';

.home-background {
  position: relative;
  background-color: #000;
  transition: background-color $transition;
  z-index: -100;

  &.now-about {
    // background-color: pink;
  }
  &.now-skill {
    // background-color: yellow;
  }
  &.now-footprint {
    // background-color: green;
  }
}
