@import '../../Style/Util/pallet';
@import '../../Style/Util/util_mixins';

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: $headerHeight;

  a {
    @include f-b(4rem, $lh: $headerHeight);
  }

  .right-area {
    display: inline-flex;
  }
}
