@charset 'utf-8';

// common
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes move-top {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes move-right {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}
@keyframes move-bottom {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(100);
  }
}
@keyframes move-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}

// AboutComponent
@keyframes moving-right {
  0% {
    opacity: 0;
    transform: translateX(-25%);
  }
  
  5% {
    opacity: 1;
  }
  
  95% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
    transform: translateX(25%);
  }
}

@keyframes moving-left {
  0% {
    opacity: 0;
    transform: translateX(25%);
  }

  5% {
    opacity: 1;
  }

  95% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: translateX(-25%);
  }
}

@keyframes shadow-moving-right {
  0% {
    opacity: 0;
    text-shadow: -30px 0px 10px rgb(0, 0, 0, 0.3);
  }
  
  5% {
    opacity: 1;
  }
  
  95% {
    opacity: 1;
    text-shadow: -10px 0px 10px rgb(0, 0, 0, 0.3);
  }
  
  100% {
    opacity: 0;
    text-shadow: 10px 0px 30px rgb(0, 0, 0, 0.1);
  }
}

@keyframes shadow-moving-left {
  0% {
    opacity: 0;
    text-shadow: 30px 0px 10px rgb(0, 0, 0, 0.3);
  }

  5% {
    opacity: 1;
  }

  95% {
    opacity: 1;
    text-shadow: 10px 0px 10px rgb(0, 0, 0, 0.3);
  }

  100% {
    opacity: 0;
    text-shadow: 10px 0px 30px rgb(0, 0, 0, 0.1);
  }
}

@keyframes shadow-moving-right-mobile {
  0% {
    opacity: 0;
    text-shadow: -15px 0px 5px rgb(0, 0, 0, 0.3);
  }
  
  5% {
    opacity: 1;
  }
  
  95% {
    opacity: 1;
    text-shadow: -5px 0px 5px rgb(0, 0, 0, 0.3);
  }
  
  100% {
    opacity: 0;
    text-shadow: 5px 0px 10px rgb(0, 0, 0, 0.1);
  }
}

@keyframes shadow-moving-left-mobile {
  0% {
    opacity: 0;
    text-shadow: 15px 0px 5px rgb(0, 0, 0, 0.3);
  }

  5% {
    opacity: 1;
  }

  95% {
    opacity: 1;
    text-shadow: 5px 0px 5px rgb(0, 0, 0, 0.3);
  }

  100% {
    opacity: 0;
    text-shadow: 5px 0px 10px rgb(0, 0, 0, 0.1);
  }
}

// SkillDetailComponent
@keyframes slide-right {
  0% {
    opacity: 0;
    margin-left: -100%;
  }
  
  100% {
    opacity: 1;
    margin-left: 30%;
  }
}

