$TextColor: rgba(196, 196, 196, 1); //#C4C4C4

$p-m: rgba(33, 33, 33, 1); //#212121
$p-l: rgba(72, 72, 72, 1); //#484848
$p-d: rgba(0, 0, 0, 1); //#000000
$s-m: rgba(66, 66, 66, 1); //#424242
$s-l: rgba(109, 109, 109, 1); //#6d6d6d
$s-d: rgba(27, 27, 27, 1); //#1b1b1b

$bl: rgba(34, 43, 48, 1); //#222222;
$wh: rgba(255, 255, 255, 1); //#FFFFFF;

$s-n: 0 0 0 transparent;
$s-l-1: 0 1px 1px rgba(0, 0, 0, 0.15); //#C4C4C4
$s-l-2: 0 2px 3px rgba(0, 0, 0, 0.1); //#C4C4C4
$s-l-3: 0 8px 15px rgba(0, 0, 0, 0.2); //#C4C4C4
// $shadowLevel1-in: inset 0 1px 1px rgba(0,0,0,.15); //#C4C4C4
// $gradient-opacity:linear-gradient(180deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,.1) 100%);
