$TextColor: rgba(196, 196, 196, 1); //#C4C4C4

$p-m: rgba(0, 130, 201, 1); //#0082C9
$p-m-2: rgba(0, 130, 201, 0.2); //#0082C9
$p-m-1: rgba(0, 130, 201, 0.1); //#0082C9
$p-l: rgba(91, 177, 252, 1); //#5BB1FC
$p-d: rgba(0, 103, 159, 1); //#00679F
$s-m: rgba(255, 122, 0, 1); //#FF7A00
$s-m-1: rgba(255, 122, 0, 0.1); //#FF7A00
$s-l: rgba(255, 171, 66, 1); //#FFAB42
$s-d: rgba(211, 101, 0, 1); //#D36500

$l-b: rgba(189, 214, 251, 1); //#BDD6FB;
$l-b-1: rgba(189, 214, 251, 0.1); //#BDD6FB;
$l-b-2: rgba(189, 214, 251, 0.2); //#BDD6FB;
$l-b2: rgba(235, 237, 248, 1); //#EBEDF8;
$l-b2-5: rgba(235, 237, 248, 0.5); //#EBEDF8;
$l-b2-7: rgba(235, 237, 248, 0.7); //#EBEDF8
$b-g: rgba(74, 84, 89, 1); //#4A5459
$b-g-l0: rgba(200, 213, 227, 1); //#C8D5E3
$b-g-l0-2: rgba(200, 213, 227, 0.2); //#C8D5E3
$b-g-1: rgba(74, 84, 89, 0.1); //#4A5459
$b-g-l: rgba(151, 164, 177, 1); //#97A4B1
$b-g-l-1: rgba(151, 164, 177, 0.1); //#97A4B1
$b-g-l-3: rgba(151, 164, 177, 0.3); //#97A4B1
$b-g-l-7: rgba(151, 164, 177, 0.7); //#97A4B1
$b-g-l2: rgba(118, 128, 134, 1); //#768086
$b-g-d: rgba(34, 43, 48, 1); //#222B30;
$wbg: rgba(247, 250, 253, 1); //#F7FAFD
$bbg: rgba(234, 240, 253, 1); //#EAF0FD

$bl: rgba(34, 43, 48, 1); //#222B30;
$bl-8: rgba(34, 43, 48, 0.8); //#222B30;
$bl-9: rgba(34, 43, 48, 0.9); //#222B30;
$icon: rgba(0, 0, 0, 0.38); //#000000;
$d-g: rgba(51, 51, 51, 1); //#333333
$d-g2: rgba(85, 85, 85, 1); //#555555
$m-g: rgba(119, 119, 119, 1); //#777777
$m-g2: rgba(149, 149, 149, 1); //#959595
$m-g3: rgba(187, 187, 187, 1); //#BBBBBB
$m-g3-1: rgba(187, 187, 187, 0.1); //#BBBBBB
$l-g: rgba(221, 221, 221, 1); //#DDDDDD
$bg-g: rgba(229, 229, 229, 1); //#E5E5E5
$bg-g2: rgba(236, 236, 236, 1); //#ECECEC
$bg-g3: rgba(246, 246, 246, 1); //#F6F6F6
$bg-g4: rgba(250, 250, 250, 1); //#FAFAFA
$wh: rgba(255, 255, 255, 1); //#FFFFFF;
$wh-5: rgba(255, 255, 255, 0.5); //#FFFFFF;
$wh-6: rgba(255, 255, 255, 0.6); //#FFFFFF;
$wh-8: rgba(255, 255, 255, 0.8); //#FFFFFF;

$li: rgba(63, 162, 247, 1); //#3FA2F7
$su: rgba(86, 197, 104, 1); //#56C568
$er: rgba(235, 87, 87, 1); //#EB5757
$wa: rgba(255, 196, 0, 1); //#FFC400

$tip: rgba(255, 196, 0, 0.15); //#FFC400

$s-n: 0 0 0 transparent;
$s-l-1: 0 1px 1px rgba(0, 0, 0, 0.15); //#C4C4C4
$s-l-2: 0 2px 3px rgba(0, 0, 0, 0.1); //#C4C4C4
$s-l-3: 0 8px 15px rgba(0, 0, 0, 0.2); //#C4C4C4
// $shadowLevel1-in: inset 0 1px 1px rgba(0,0,0,.15); //#C4C4C4
// $gradient-opacity:linear-gradient(180deg, rgba(0,0,0,.1) 0%, rgba(0,0,0,.1) 100%);
