@import '../../Style/Util/pallet';
@import '../../Style/Util/util_mixins';

.icon-slider {
  position: relative;
  left: -10.5%;
  width: 100%;
  height: 25vh;

  .content-frame {
    position: absolute;
    width: 11%;
    height: 100%;
    text-align: center;
    @include f-b(5rem, red);
    opacity: 0.2;
    will-change: transform;

    .content {
      @include center-align;
      border-radius: 100%;
      background-color: blue;
      width: 15rem;
      height: 15rem;
    }
  }

  &.reverse {
    left: 10.5%;
    transform: rotateY(180deg);

    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: rotateY(180deg) translate(50%, -50%);
    }
  }
}
