@import '../../Style/Util/pallet';
@import '../../Style/Util/util_mixins';

.contact {
  @include vertical-align(fixed);
  right: 0;
  z-index: 100;
  writing-mode: vertical-rl;
  @include f-b(3rem);
}
