@import '../../Style/Util/pallet';
@import '../../Style/Util/util_mixins';

.footprint-section {
  position: relative;
  height: 20vh;

  .footprint-title {
    text-align: center;
  }

  .split-frame {
    @include f-b(20rem, $bl);
  }

  a {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
